import { ThemeProvider } from "@/components/theme-provider"
import { DemoPage } from "@/components/pageNote"
import { AppPage } from "@/components/page"


function App() {
  return (
    <ThemeProvider defaultTheme="dark" storageKey="vite-ui-theme">
      <AppPage/>
    </ThemeProvider>
  )
}

export default App
