import { useState } from "react"
import {
  Select,
  SelectContent,
  SelectItem,
  SelectTrigger,
  SelectValue,
} from "@/components/ui/select"
import { resources } from "@/types/resources"
import { DemoPage } from "@/components/page"


export const Navbar = () => {
  const [resource, setResource] = useState<string>(resources[0])

  const handleSelect = (value: string) => {
    setResource(value)
  }

  return (
    <>
      <nav className="p-4">
        <div className="container mx-auto flex justify-between items-center">
          <div className="text-white text-2xl font-bold">{{ .ProjectName }}</div>
          <ul className="flex space-x-4">
            <li>
              <Select defaultValue={ resource } onValueChange={ handleSelect }>
                <SelectTrigger className="w-[180px]" >
                  <SelectValue />
                </SelectTrigger>
                <SelectContent>
  {{- range .Tables }}
                  <SelectItem value="{{ .Name }}">{{ toPascalCase .Name }}</SelectItem>
  {{- end }}
                </SelectContent>
              </Select>
            </li>
          </ul>
        </div>
      </nav>
      <DemoPage resource={resource}/>
    </>
  )
}

