import { FC, useRef, useState } from "react"
import { useForm } from "react-hook-form"
import { toast } from "sonner"
import { zodResolver } from "@hookform/resolvers/zod"
import {
  Dialog,
  DialogContent,
  DialogDescription,
  DialogHeader,
  DialogTitle,
  DialogTrigger,
  DialogFooter,
} from "@/components/ui/dialog"
import { Input } from "@/components/ui/input"
import { Label } from "@/components/ui/label"
import { Button } from "@/components/ui/button"
import { Plus } from "lucide-react"
{{- range . }}
import { {{ toCamelCase .Name }}Schema } from "@/types/{{ toPascalCase .Name }}"
{{- end }}

type FieldsProps = {
  setIsOpen: (bool)=>void
  updateTable: ()=>void
}

{{ range . }}
const {{ toPascalCase .Name }}Fields = ({setIsOpen, updateTable}: FieldsProps) => {
  const { register, handleSubmit, formState: { errors } } = useForm({
    resolver: zodResolver( {{ toCamelCase .Name }}Schema ),
  })
  const formRef = useRef(null)

  const handleForm = async (data) => {
    console.log("submitted:", data)
    const result = await fetch(
      "http://127.0.0.1:8080/{{ .Name }}",
      {
        method: "POST",
        body: JSON.stringify(data)
      }
    )

    toast.success("New {{ toPascalCase .Name }} created")

    if (formRef.current) {
      formRef.current.reset()
    }

    setIsOpen(false)
    updateTable()
  }

  return (
    <form ref={formRef} className="space-y-4" onSubmit={ handleSubmit(handleForm) }>
{{- range .Fields }}
{{- if or .IsPrimaryKey .HasDefault }}{{else}}
      <div className="grid w-full max-w-sm items-center gap-1.5">
        <Label htmlFor="{{ .Name }}" >
            {{ .Name }}
        </Label>
{{- if eq .Type "int" }}
        <Input id="{{ .Name }}" type="number" {...register("{{ .Name }}", {valueAsNumber: true})} />
        { errors.{{ .Name }} && <p className="text-red-500">{errors.{{ .Name }}.message}</p>}
      </div>
{{- else if eq .Type "timestamp" }}
        <Input id="{{ .Name }}" type="date" {...register("{{ .Name }}")} />
        { errors.{{ .Name }} && <p className="text-red-500">{errors.{{ .Name }}.message}</p>}
      </div>
{{else}}
        <Input id="{{ .Name }}" {...register("{{ .Name }}")} />
        { errors.{{ .Name }} && <p className="text-red-500">{errors.{{ .Name }}.message}</p>}
      </div>
{{- end }}
{{- end }}
{{- end }}
      <div className="flex justify-end">
        <Button variant="secondary" type="submit" >
          Create New {{ toPascalCase .Name }}
        </Button >
      </div>
    </form>
  )
}
{{ end }}

function getFields(
  resource: string,
  setIsOpen: (bool)=>void,
  updateTable: ()=>void,
): FC {
  switch(resource) {
    {{- range . }}
    case "{{ .Name }}": return <{{ toPascalCase .Name }}Fields setIsOpen={ setIsOpen } updateTable={ updateTable }/>
    {{- end}}
  }
}

type DialogResourceProp = {
  resource: string,
  setResource: (string) => string,
  updateTable: ()=>void,
}

export const DialogResource = ({resource, setResource, updateTable}: DialogResourceProp) => {
  const [isOpen, setIsOpen] = useState<bool>(false)

  return (
    <Dialog open={ isOpen } onOpenChange={ setIsOpen } >
      <DialogTrigger asChild>
        <Button variant="outline" >
          <Plus />New { resource }
        </Button>
      </DialogTrigger>
      <DialogContent>
        <DialogHeader>
          <DialogTitle>Add New { resource }</DialogTitle>
          <DialogDescription>
            Input data to create a new { resource }.
          </DialogDescription>
        </DialogHeader>
        { getFields(resource, setIsOpen, updateTable) }
      </DialogContent>
    </Dialog>
  )
}
