export const Navbar = () => {
  const handleSelect = (value: string) => {
    setResource(value)
  }

  return (
    <nav className="p-4">
      <div className="container mx-auto flex justify-between items-center">
        <div className="text-white text-2xl font-bold">{{ .ProjectName }}</div>
      </div>
    </nav>
  )
}

