export const resourceName: string[] = [
{{- range . }}
    "{{ .Name }}",
{{- end }}
]

export type Resources = (
{{- range . }}
    | Array<{{ toPascalCase .Name }}>
{{- end }}
)

export type Resource = (
{{- range . }}
    | {{ toPascalCase .Name }}
{{- end }}
)
